<button class="layout-config-button p-link" type="button" (click)="onConfigButtonClick()">
    <i class="pi pi-cog"></i>
</button>

<p-sidebar [(visible)]="visible" position="right" [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'" styleClass="layout-config-sidebar w-20rem">
    <h5>{{ 'config.scale' | translate }}</h5>
    <div class="flex align-items-center">
        <button icon="pi pi-minus" type="button" pButton (click)="decrementScale()" class="p-button-text p-button-rounded w-2rem h-2rem mr-2" [disabled]="scale === scales[0]"></button>
        <div class="flex gap-2 align-items-center">
            <i class="pi pi-circle-fill text-300" *ngFor="let s of scales" [ngClass]="{'text-primary-500': s === scale}"></i>
        </div>
        <button icon="pi pi-plus" type="button" pButton (click)="incrementScale()" class="p-button-text p-button-rounded w-2rem h-2rem ml-2" [disabled]="scale === scales[scales.length - 1]"></button>
    </div>

    <h5>{{ 'config.mode' | translate }}</h5>
    <div class="p-field-radiobutton">
        <p-toggleButton 
            [(ngModel)]="isLightMode" 
            onLabel="{{ 'config.dark' | translate }}" 
            offLabel="{{ 'config.light' | translate }}" 
            [onIcon]="'pi pi-moon'" 
            [offIcon]="'pi pi-sun'" 
            (onChange)="toggleTheme()">
        </p-toggleButton>
    </div>
</p-sidebar>
